In [1]:
# append path info to access api
import os, sys
from git_root import git_root
sys.path.append(os.path.abspath(git_root("nmdc_runtime/api/core")))
sys.path.append(os.path.abspath(git_root("nmdc_runtime/site")))

In [2]:
import json
import copy
import pandas as pds
from toolz.dicttoolz import assoc_in, merge
from pprint import pprint
from collections import namedtuple

# from resources import MongoDB
from pymongo import MongoClient
from metadata import load_changesheet, update_mongo_db
from linkml_runtime.utils.schemaview import SchemaView

### load change sheet

In [3]:
pds.set_option("display.max_columns", None)
pds.set_option('display.width', 1000)

In [4]:
sheetDf = load_changesheet('data/changesheet-without-separator3.tsv')
sheetDf

               id  action               attribute              value        group_id group_var                                  path
0  gold:Gs0110138  update                    name         soil study  gold:Gs0110138                                            name
1                  update               ecosystem               soil  gold:Gs0110138                                       ecosystem
2                  update                     doi                 v1  gold:Gs0110138
3              v1  update           has_raw_value       10.9999/8888  gold:Gs0110138        v1                     doi/has_raw_value
4                  update  principal_investigator                 v2  gold:Gs0110138
5              v2  update                    name                 v3  gold:Gs0110138        v2
6              v3  update                   first                foo  gold:Gs0110138        v3     principal_investigator/name/first
7              v3  update                    last                bar  gold:Gs0110138        v3      principal_investigator/name/last
8              v2  update           has_raw_value            foo bar  gold:Gs0110138        v2  principal_investigator/has_raw_value
9                  update             description  short description  gold:Gs0110138                                     description

### update mongodb using change sheet

In [6]:
update_mongo_db(sheetDf, print_update=True, print_data=False, print_query=False)

{'_id': ObjectId('61258954a53f2364ac7723ef'), 'id': 'gold:Gs0110138', 'name': 'soil study', 'description': 'short description', 'ecosystem': 'soil', 'ecosystem_category': 'Aquatic', 'ecosystem_type': 'Freshwater', 'ecosystem_subtype': 'Wetlands', 'specific_ecosystem': 'Unclassified', 'principal_investigator': {'name': {'last': 'bar', 'first': 'foo'}, 'has_raw_value': 'foo bar'}, 'type': 'nmdc:Study', 'doi': {'has_raw_value': '10.9999/8888'}}

{'n': 7, 'nModified': 0, 'ok': 1.0}